<section id='splash-screen'>
    <div class='splash-title'>
        <h1>Budget App</h1>
    </div>
    <div class='login-signup'>
        <ul>
            <li class='login-btn'>
                <%= link_to 'LOG IN', new_user_session_path %>
            </li>
            <li class='signup-btn'>
                <%= link_to 'SIGN UP', new_user_registration_path %>
            </li>
        </ul>
    <div>
</section>